.entry {
  background-color: rgb(180, 180, 180);
  padding: 200px;
}

.article {
  font-size: 20px;
  padding-top: 20px;
}

body {
  font-family: 'Jua', sans-serif;
}

.main_content {
  padding: 15px;
  padding-top: 30px;
}

#tistorytoolbarid {display: none;}